/* Define default theme colors */
:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --header-background: #f0f0f0;
    --banner-background: #e0e0e0;
    --link-color: #1a0dab;
    --accent-color: #007bff;
}

/* Define dark mode theme colors */
body.dark-mode {
    --background-color: #121212;
    --text-color: #ffffff;
    --header-background: #1e1e1e;
    --banner-background: #333333;
    --link-color: #8ab4f8;
    --accent-color: darkorange;
}

/* Navbar styles for dark mode */
body.dark-mode .navbar,
body.dark-mode .navbar-nav,
body.dark-mode .navbar-collapse {
    background-color: #333 !important;
}

body.dark-mode .navbar .nav-link,
body.dark-mode .navbar .navbar-brand {
    color: white !important;
}

/* Content styles for dark mode */
body.dark-mode .content {
    background-color: transparent;
}

/* Center form inline elements */
.form-inline {
    justify-content: center;
}

/* Basic body styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
    overflow-x: hidden; /* Prevent horizontal scroll */
    overflow-y: hidden; /* Prevent vertical scroll */
}

/* Heading color */
h2 {
    color: var(--accent-color);
}

/* Header styles */
header {
    text-align: center;
    background-color: var(--header-background);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
}

/* Toggle switch and social switch container styles */
.toggle-switch, .social-switch {
    display: flex;
    align-items: center;
}

/* Toggle switch input styles */
.toggle-switch input, .social-switch input {
    margin-right: 5px;
}

/* Toggle switch label styles */
.toggle-switch label, .social-switch label {
    margin-bottom: 0;
}

/* Snap scrolling container styles */
.snap-container {
    scroll-snap-type: y mandatory;
    height: 100vh;
    overflow-y: hidden;
    position: relative;
}

/* Snap section styles */
.snap-section {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    scroll-snap-align: start;
    transition: transform 1s ease-in-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Background images for different sections */
#profile {
    background-image: url('images/bg1.png');
}
#profile .photo {
    background-image: url('images/pic1.jpg');
}

#experience {
    background-image: url('images/bg2.png');
}

#education {
    background-image: url('images/bg3.png');
}

#skills {
    background-image: url('images/bg4.png');
    position: relative;
}

/* Content container styles */
.content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

/* Skills header styles */
.skills-header {
    text-align: center;
    margin-bottom: 40px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    padding: 20px;
}

/* Skills header styles for dark mode */
body.dark-mode .skills-header {
    background: rgba(51, 51, 51, 0.8);
    color: white;
}

/* Skills container styles */
.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Skills text wrapper styles */
#skills .text-wrapper {
    margin-right: 10px;
    font-size: large;
}

/* Skills section heading styles */
#skills .text-wrapper h3 {
    color: var(--accent-color);
    font-size: 2em;
}

/* Skills list styles */
#skills .text-wrapper ul {
    list-style-type: none;
    padding: 0;
}

.skills-header h2 {
    font-size: 4em;
    font-weight: bold;
}

#skills .text-wrapper ul li {
    padding: 5px 0;
    font-size: 1.1em;
}

/* Profile photo styles */
#profile .photo {
    width: 150px;
    height: 150px;
    background-color: #ccc;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin-bottom: 20px;
}

/* Photo container styles */
.photo-container {
    display: flex;
    justify-content: space-around;
}

/* Individual photo styles */
.photo-container .photo {
    width: 304px;
    height: 208px;
    margin-right: 20px;
    background-color: #ddd;
    border-radius: 15px;
    background-size: cover;
    background-position: center;
}

/* Carousel photo styles */
.carousel .photo {
    width: 304px;
    height: 208px;
    margin: auto;
    background-color: #ddd;
    border-radius: 15px;
    background-size: cover;
    background-position: center;
}

/* Margins for photo container and carousel */
.photo-container, .carousel {
    margin-bottom: 10px;
}

/* Navbar padding */
.navbar {
    padding: 10px;
}

/* Navbar brand styles */
.navbar-brand {
    font-weight: bold;
}

/* Navbar link styles */
.navbar-nav .nav-link {
    color: var(--link-color);
    margin-right: 15px;
}

/* Active navbar link styles */
.navbar .nav-link.active {
    font-weight: bold;
    color: #007bff !important;
}

/* Active navbar link styles for dark mode */
body.dark-mode .navbar .nav-link.active {
    font-weight: bold;
    color: darkorange !important;
}

/* Text wrapper background styles */
.text-wrapper {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    padding: 20px;
}

/* Text wrapper background styles for dark mode */
body.dark-mode .text-wrapper {
    background: rgba(51, 51, 51, 0.8);
    color: white;
}

/* Footer styles */
footer {
    bottom: 0;
    font-size: xx-small;
    position: absolute;
}

/* Social banner styles */
.social-banner {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: var(--banner-background);
    padding: 10px;
    border-radius: 0 10px 10px 0;
}

/* Social switch display settings */
.social-switch {
    display: none;
    margin-left: 10px;
}

/* Show social banner when toggle is checked */
#social-toggle:checked ~ .social-banner {
    display: inline;
    justify-content: center;
    gap: 10px;
}

/* Social banner link styles */
.social-banner a {
    position: relative;
    display: block;
    color: var(--link-color);
    text-decoration: none;
    margin: 10px 0;
}

/* Social banner image styles */
.social-banner a .img-top, .social-banner a .img-top-dark {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

/* Show hover images on hover */
.social-banner a:hover .img-top,
body.dark-mode .social-banner a:hover .img-top-dark {
    display: inline;
}

/* Scale image on active */
.social-banner a:active .img-top,
body.dark-mode .social-banner a:active .img-top-dark {
    scale: 115%;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
    header {
        padding: 10px;
    }

    .toggle-switch {
        justify-content: center;
    }

    /* Display socials switch on smaller screens */
    .social-switch {
        display: flex;
    }

    /* Hide social banner on smaller screens by default */
    .social-banner {
        display: none;
    }

    /* Stack top banner elements vertically on smaller screens */
    .top-banner {
        flex-direction: column;
    }

    .top-banner a {
        margin: 5px 0;
    }

    /* Hide photo container on smaller screens to see carousel intead*/
    .photo-container {
        display: none;
    }

    #skills .text-wrapper {
        flex: 1 1 45%;
        max-width: 90%;
    }

    /* Adjust margin to fit all the content on smaller screens */
    .skills-header {
        margin-bottom: 0;
    }
}

/* Display social banner on larger screens */
@media (min-width: 768px) {
    .social-banner {
        display: inline;
    }
}